# PLEASE NOTE:
#This is an example .env file for the Cat API project.  It is unsafe/unsecure to commit your actual 
# API key to version control (like to GitHub), so please replace the value of VITE_CAT_API_KEY with 
# your actual API key from thecatapi.com before running the project.
#
# To get your API key, sign up for a free account at https://thecatapi.com/ and navigate to the API section to generate your key.
# You can simply take that API key and replace the placeholder value below.  Do not share your API key publicly or commit it to version control.
# To verify this works, take that API key in the format below and create an actual root-level .env file with the key in it.
#
# For this project, I utilized an actual .env file with my real key, and in the README.md file, I show the .gif and video link of the
# project working with the real API key.  Hopefully this makes sense, I thought about just putting the real key in this .env.example file, 
# but being a Cybersecurity major, I couldn't bring myself to do that, haha.  Thanks!

VITE_CAT_API_KEY=your_cat_api_key_here_from_thecatapi.com