.discover-btn {
  background-color: #fbbf24;
  color: #1e293b;
  padding: 0.9rem 1.4rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.discover-btn:hover {
  background-color: #f59e0b;
}
